<h1>Burgers!</h1>

<h2>Burgers to be devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    <li>
      {{burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="devoured">Devour?</label><br>
    <input type="radio" name="devour" value="1" checked> Devour!<br>
    <input type="radio" name="devour" value="0"> Devour
  </div> --}}

  <button type="submit">Add Burger</button>
</form>
