body {
  background-image: url("https://media.istockphoto.com/photos/fresh-delicious-burger-on-a-wooden-background-picture-id1021284500?k=6&m=1021284500&s=170667a&w=0&h=yNnFFGqba8IMbiBxn__eLA7zWVhHmHs3Y09M7rB0qv0=");
  background-position:right;
  background-repeat: no-repeat;
  background-size:  cover;
  background-color: #cccccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
 }
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  text-align-last: center;
} 

h2{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 36px;
}


li {
    padding: 5px;
    margin: 5px;
    background: white;
    color: rgb(1, 1, 7);
    font-weight: bold;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  